@{
    Html.RenderPartial("_sweetAlert");
}

<div class="row">
    <div class="col-md-12">


        <div class="alert alert-danger help-alert margin-bottom-0"
             style="background-color: red; margin-bottom: 15px; color: white;text-align: center">
            @*<img src="/Content/Images/logo_light.png">*@
            <span>

                <label>@ViewBag.error</label>
                    
            </span>

            <br>
        </div>


    </div>
</div>
